@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
	padding: 0;
	margin: 0;
	background: #efefef;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
/*	margin-bottom: 2500px; jangan lupa di apus
*/}

/*Nav*/
.nav-container {
	width: 100%;
	margin: 0px auto;
	position: relative;
	
}
	.nav-link	{
		display: flex;
		justify-content: space-around;
		align-items: center;
		box-sizing: border-box;
		padding: 10px;
	}
	.nav-link img {
		width:50px;
		margin-top: 5px;
	}
	.nav-link a {
		text-decoration: none;
		color: #e63946;
		font-size: 3vh;
		font-weight: bold;
}
	.nav-link a:hover {
		color: #333;
		transition: 0.5s;
	}
/*end of nav*/

/*hero*/
.hero {
	height: 400px;
	background-color: #efefef;
	margin-top: -80px;
}
	.hero span {
		position: absolute;
		top: 25%;
		left:50%;
		transform: translate(-50%,-50%);
		overflow: hidden;
		text-align:center;
	}
	span h1 {
		font-size: 4vh;
	}
	.hero .github {
		font-weight: bold;
	}
	.hero .github a {
		text-decoration: none;
		color: #e63946;
	}
	.hero .github a:hover {
			color: #333;
			transition: 0.5s;
	}
/*end of hero*/

/*main content*/

.main-container {
	margin-bottom: 100px;
}
.main {
	background-color: #efefef;

}
.main-content {
	width: 50%;
	color: #efefef;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	background-color: rgba(20,20,20,0.8);
}
.main-content h1 {
	color: #e63946;
	text-align: center;
}
.main-content p {
	line-height: 2;
	text-align: justify;
}
.main-content span a {
	text-decoration: none;
	color: #00daff;
	font-weight: bold;
}
.card-content	{
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
}
.card	{
		background-color: #efefef;
		padding: 25px;
		border-radius: 20px;
		margin-top: 50px;
		margin-right: 10px;
		margin-left: 10px;
		box-shadow: 0px 3px 10px 3px rgba(20,20,20,0.3);
}
.active:hover	{
		box-shadow: 0px 5px 20px 3px rgba(20,20,20,0.7);
		transition: 0.5s;

}
.non-active {
	opacity: 0.4;
	box-shadow: 0px 3px 10px 3px rgba(20,20,20,0.3) ;
}
.card a {
	text-decoration: none;
	color: #141414;
}
.segera	{
	text-align: center;
	margin-top: 100px;
	font-weight: bold;
}
footer {
	width: 100%;
	text-align: center;
	font-weight: bold;
}


/*end of main content*/

/*responsive*/
@media (max-width: 1000px) {
	.nav-container{
		  margin-top: 5px;
	}

	.nav-link img {
		display: none;
	}
	.nav-link a {
		margin-right: 100px;
	}
	.hero {
		margin-top: -60px;
	}
	.hero span {
	top: 30%;	
}

.main-content {
	width: 80%;
	margin: 0 auto;
	color: white;
}
.card-content	{
	display: inline-block;
	width: 80%;
	margin-left: 10%;	
}
.card {
	margin-top: 30px;
}
	
}
